<%= form_for(@lawyer) do |f| %>
  <ul>
  <% @lawyer.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control', placeholder: 'User', required: 'required' %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location, class: 'form-control', placeholder: 'User', required: 'required' %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code, class: 'form-control', placeholder: 'User', required: 'required' %>
  </p>
  <p>
    <%= f.label :experience %><br />
    <%= f.text_field :experience, class: 'form-control', placeholder: 'User', required: 'required' %>
  </p>
  <p>
    <%= f.label :rating %><br />
    <%= f.text_field :rating, class: 'form-control', placeholder: 'User', required: 'required' %>
  </p>
  <p class="submit">
    <%= f.submit class: 'btn btn-primary' %>
  </p>
<% end %>